#experience {
	margin-bottom: 40px;
}

#experience h1 {
	text-align: center;
	margin-bottom: -2px;
}

#experience .lang {
	text-align: center;
}

#experience .lang p {
	text-align: center;
}

#experience .lang img {
	width: 80px;
}

#experience .ruby {
	text-align: center;
}

/* Program Lang Logos */
#experience .logo {
	width: 150px;
}

#experience .java-script {
	text-align: center
}

#experience .pro-con {
	margin: 20px 0 0 30px;
	font-size: 18px;
}

/* Green Check Boxes */
#experience .pro-con img {
	width: 30px;
	margin-right: 10px;
}