#projects {
	margin-bottom: 40px;
	text-align: center;
}

#projects img {
	margin-bottom: 30px;
}

/* desktop screens */
@media (min-width: 992px) {
	#projects img {
		margin-bottom: 60px;
		position: relative;
	}
	
	#projects img:hover {
		/* transform: scale(1.5); */
		transition: all .2s ease-in-out; 
		transform: scale(1.5); 
		box-shadow: 15px 15px 50px black;
		z-index: 1
	}
}
	/* ----------------- */

