#skills {
	text-align: center;
}

#skills h1 {
	text-align: center;
	font-size:70px;
	margin: 20px;
}



#skills .logo img {
	padding: 30px;
	border: hidden;
}

#skills .logo .description {
	text-align: left;
}

/* cellphones */
@media (max-width: 768px) {
	#skills .logo img {
		width: 220px;
	}

	#skills .logo .description {
		margin: auto;
		margin-top: 20px;
		font-size: 20px;
	}
}
/* -------------------- */

/* tablets */
@media (min-width: 768px) {
	#skills .logo img {
		width: 300px;
	}

	#skills .logo .description {
		margin: auto;
		margin-top: 20px;
		font-size: 20px;
	}
}
/* -------------------- */


/* desktop screens */
@media (min-width: 992px) {

	#skills .logo {
		margin-bottom: -140px;
	}

	#display-text .logo-1 {
		position: relative;
		bottom: 273px;
		left: 25px;
	}

	#display-text .logo-2 {
		position: relative;
		bottom: 275px;
	}

	#display-text .logo-3 {
		position: relative;
		bottom: 265px;
		left:10px;
	}

	#display-text .logo-4 {
		position: relative;
		bottom: 290px;
		left:20px;
	}

	#display-text .logo-5 {
		position: relative;
		bottom: 250px;
		left:15px;
	}

	#display-text .logo-6 {
		position: relative;
		bottom: 275px;
		left:5px;
	}

	.logo .description {
		visibility: hidden;
	}

	.logo:hover .description {
		visibility: visible;
	}

	.logo:hover img {
		opacity: 0.2;
	}

	#display-text h1 {
		display: block;
	}

	#skills .logo img {
		width: 350px;
	}

	#skills .logo .description {
		margin: auto;
		margin-top: 20px;
		font-size: 26px;
	}
}
/* --------------------- */