#skills {
	text-align: center;
}

#skills img {
	padding: 30px;
	margin-right: 30px;
	margin-left: 30px;
	border: white;
	width: 350px;
	float: left;
}

#logos {
	display: inline-block;
}

#logos div {
}

#display-text {
	float:left;
	position: relative;
	right: 120px;
	top: 100px;
	font-size: 24px;
	/* visibility: hidden; */
}

span:hover #display-text {
	visibility: visible;
	color: red;
}

span:hover img {
	opacity: 0.15;
	filter: alpha(opacity=50);
}

@media only screen and (max-width: 1200px) {
  #skills img {
		width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  #skills img {
		width: 200px;
		margin: 0;
  }
}


#some-element {
  border: 1px solid #ccc;
  /* display: none; */
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
	color:red
}